In [1]:
import pandas as pd
import numpy as np
from unicodedata import normalize

In [2]:
dados = pd.read_csv('dados/1a_infancia_300k.csv')

C:\ProgramData\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3057: DtypeWarning: Columns (27) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [3]:
dados.head()

,codigo_ibge,nome,latitude,longitude,capital,codigo_uf,ID_FAMILIA_CADUNICO,LAT,LOG,CODG_FAMILIAR,...,TIPO_CALCAMENTO,TIPO_ESPECIE_DOMICILIO,QTDE_CRIANCAS_ATE_3ANOS,QTDE_CRIANCAS_ATE_6ANOS,QTDE_MAIOR18_NAO_SABE_LER,QTDE_ENTRE6E17_NAO_FREQ_ESCOLA,QTDE_PESSOA_INTERNACAO,VALR_DESPESA_ALUGUEL,INDI_FAMILIA_RECEBE_BPC,INDI_RECEBE_AJUDA_DEFIC_TERC
0,5200050,Abadia de Goiás,-16.7573,-49.4412,0,52,3961,-16.765013,-49.427965,2468632346,...,1.0,1.0,0,0,0,0,0,0.0,S,N
1,5200050,Abadia de Goiás,-16.7573,-49.4412,0,52,5466,-16.764245,-49.429278,3670635491,...,2.0,1.0,0,0,0,0,0,0.0,N,N
2,5200050,Abadia de Goiás,-16.7573,-49.4412,0,52,6314,-16.755795,-49.434151,4283312380,...,1.0,1.0,0,0,1,0,0,0.0,S,N
3,5200050,Abadia de Goiás,-16.7573,-49.4412,0,52,6554,-16.756827,-49.435021,4409597728,...,1.0,1.0,0,0,0,0,0,0.0,N,N
4,5200050,Abadia de Goiás,-16.7573,-49.4412,0,52,6289,-16.758034,-49.435705,4277465668,...,1.0,1.0,0,0,0,0,0,0.0,N,N

In [4]:
dados.drop(columns = ['codigo_ibge', 'capital','codigo_uf','NOME_UNIDADE_TERRITAL'], inplace = True)

In [ ]:
#goias = pd.read_csv('dados/latitude_longitude_municipos_goianos.csv')

### Tratando os Dados

#### Normalizando nome cidade

In [ ]:
goias['nome'] =  goias['nome'].str.upper() #Transformando nome da cidade em maiusculo

In [ ]:
nome_cidade = []
for i in goias['nome']:
    source = i
    target = normalize('NFKD', source).encode('ASCII','ignore').decode('ASCII')
    nome_cidade.append(target)
    
goias['nome_tratado'] = nome_cidade  # Retirando acentuação

In [ ]:
goias.head()

### Exportando dados

In [6]:
novo_primeira_infancia_tratado = dados.to_csv ('dados/primeira_infancia_300k_tratado.csv', index = None, header=True)
novo_primeira_infancia_tratado